<div class="card">
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="name">Name</label>
    </div>
    <input type="text" class="form-control" id="name" [(ngModel)]="model.name">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <label class="input-group-text" for="status">Status</label>
    </div>
    <select class="custom-select" id="status" [(ngModel)]="model.status">
      <option selected>Choose...</option>
      <option *ngFor="let s of statuses" [ngValue]="s">{{s}}</option>
    </select>
  </div>
  <div class="input-group float-right">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add</button>
  </div>
</div>